version: "3.8"

services:
  server:
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    container_name: backend
    ports:
      - "5000:5000"
    env_file: .env
    environment:
      - DB_HOST=mongodb_server
      - DB_USER=$MONGODB_USER
      - DB_PASSWOR=$MONGODB_PASSWORD
      - DB_NAME=$MONGODB_DATABASE
      - DB_PORT=$MONGODB_DOCKER_PORT
    depends_on:
      - mongodb

  client:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile

    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - server

  mongodb:
    image: mongo:latest
    container_name: mongodb_server

    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGODB_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGODB_PASSWORD

    ports:
      - "27017:27017"
    volumes:
      - ./mydata:/data/db
volumes:
  mydata:
