.full-width-slide {
    width: 100%; 
  }

  .full-width-slide .carousel .col {
    width: 100%;
  }

  .full-width-slide .col-md-4 .d-flex{
    width: 100%;
  }


  .full-width-slide.carousel-control-prev-icon,
  .full-width-slide .carousel-control-next-icon{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee2e6;
    background: transparent;
    border: 1px solid #dee2e6;
    font-size: 16px;
    transition: .3s;
  }

.carousel-control-prev-icon,
 .carousel-control-next-icon{
    background-color: grey;
    border: 1px solid #000;
  }


  .tranding-carousel .swiper-slide{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tranding-carousel .swiper-button-next {
    position: absolute;
  left: 38px;
  }

  .tranding-carousel .swiper-button-next,
  .tranding-carousel .swiper-button-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6;
    font-size: 16px;
  }

  .tranding-carousel  .swiper-button-prev::after, 
  .tranding-carousel .swiper-button-next::after{
    font-size: 16px;
    color: #000;
  }







  .login {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .google{
    background-color: #df4930;
  }





  .slider-featured   .swiper-button-prev::after,   
  .slider-featured .swiper-button-next::after{
    font-size: 12px;
  }
  .slider-featured   .swiper-button-prev:hover,  
  .slider-featured .swiper-button-next:hover {
    color: #ffffff;
    background: #ED1C24;
    border-color: #ED1C24;
  }
  .slider-featured .swiper-button-next, 
  .slider-featured  .swiper-button-prev{
  width: 30px;
  height: 30px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: transparent;
  border: 1px solid #dee2e6;
  font-size: 16px;
  transition: .3s;
  }





  .slider-arrows{
    position: relative;
  }
  .slider-arrows .swiper-buttons{
    top: 0;
    right: 0;
    left: auto;
    position: absolute;
    width: 100%;
    max-width: 30%;
    height: 20px;
  }
  .slider-arrows .swiper-button-next, 
  .slider-arrows .swiper-button-prev{
    width: 30px;
  height: 30px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: 1px solid #dee2e6;
  transition: .3s;
  }
  .slider-arrows .swiper-button-prev::after,   
  .slider-arrows  .swiper-button-next::after{
    font-size: 12px;
    color: #000;
  }
  .slider-arrows  .swiper-button-prev:hover,  
  .slider-arrows  .swiper-button-next:hover {
    color: #ffffff;
    background: #ED1C24;
    border-color: #ED1C24;
  }


  @media(max-width: 1200px){
    .slider-arrows .swiper-buttons{
      max-width: 45%;
    }
  }
  @media(max-width: 430px){
    .slider-arrows .swiper-buttons{
      max-width: 50%;
    }
  }

    .slider-small img{
      max-width: 100%;
      max-height: 206px;
      object-fit: cover;
    }
  
   
@media(min-width: 991px){
  .slider-small img{
    max-width: 237px;
    max-height: 127px;
    object-fit: cover;
  }
}

@media(min-width: 991px){
  .item-trending img{
  width: 100%;
  max-width: 100px
  }
}
@media(max-width: 991px){
  .item-trending img{
  width: 100%;
  max-width: 250px;
  }
  
}

.breadcrumb-item.active{
  text-transform: capitalize;
}