<html lang="en">
	<head>
		<title>Feedback Message From Contact Us {{subject}}</title>
	</head>
	<body>
		<p>Message from <b>{{name}}</b>.</p>
        <b>Message:</b>
		<p>{{message}}</p>
	</body>
</html>